<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dating-App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ng-container *ngIf=" account.CurrentUser$ | async">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-link"><a class="dropdown-item" routerLink="/member" >Member</a></li>
            <li class="nav-link"><a class="dropdown-item" routerLink="/message" >Message</a></li>
            <li class="nav-link"><a class="dropdown-item" routerLink="/lists" >List</a></li>
          </ul>
        </ng-container>
        <li class="nav-link text-info"><a class="dropdown-item" routerLink="/error" >Error</a></li>
        <ng-container *ngIf="!(account.CurrentUser$ | async)" class="d-flex">
          <div class="ms-auto">
            <form #loginFormRef = "ngForm" class="d-flex" (ngSubmit)="loginForm(loginFormRef)" >
                <input class="form-control me-2" type="text" placeholder="userName"
                name="userName"
                ngModel

                >
                <input class="form-control me-2" type="password" placeholder="passWord" 
                name="Password"
                ngModel=""
              >
              <button class="btn btn-outline-success" type="submit">login</button>
            </form>
          </div>
        </ng-container>
        <button class="btn btn-sm btn-danger" *ngIf="(account.CurrentUser$ | async)" (click)="logout()">Logout</button>
        
        <div class="btn-group " dropdown *ngIf="account.CurrentUser$ | async as user" style="margin-left: 10px; ">
            <a id="button-animated" dropdownToggle class="dropdown-toggle"
                    aria-controls="dropdown-animated"  style="border-radius: 100%; border:none ;text-decoration: none; cursor: pointer;">
                   <i class="text-info"> welcome {{user.userName}}</i> <span class="caret"></span>
        </a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="#">{{user.userName}}</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="logout()" >Logout</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else
                here</a></li>
            </ul>
          </div>
    </div>
    </div>
  </nav>

  {{loginForm | json}} 


